body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f5f7fa;
    color: #333;
}

header {
    background-color: rgb(181, 122, 221);
    color: white;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#superior {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo-titulo {
    display: flex;
    align-items: center;
}

#icono1 {
    max-width: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: transparent;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
    background-color: white;
    transform: scale(1.1);
    border-radius: 4px;
    color: black;
}

.navbar ul li a.active {
    background-color: #bd84ce;
    border-radius: 4px;
}

.dropbtn {
    background-color: rgb(181, 122, 221);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-family: cursive;
}

.dropup {
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color:rgb(181, 122, 221);
    min-width: 160px;
}

.dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc;
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color:rgb(181, 122, 221);
}

@media screen and (max-width: 600px) {
    .navbar ul {
        flex-direction: column;
        width: 100%;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        text-align: left;
        padding: 10px;
    }

    .submenu {
        position: static;
        width: 100%;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        justify-content: flex-start;
        width: 100%;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li a {
        text-align: left;
        padding: 10px;
    }
}
.titulo{
    color: #711a8b;
    text-align: center;
    align-items: center;
    font-family: cursive;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.card{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgb(181, 122, 221);
    width: 300px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgb(181, 122, 221);
}
.card img{
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
}
.card h2{
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #711a8b;
}
.card p{
    font-size: 1em;
    color: #bd84ce;
    line-height: 1.6;
}
.card button{
    background-color: #bd84ce;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.card button:hover{
    background-color: #bd84ce;
}
@media(max-widht: 768px){
    .cards-container{
        flex-direction: column;
        align-items: center;
    }
}
footer {
    background-color: rgb(181, 122, 221);
    color: white;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}